// banner


.item {
    position: relative;
    height: 100%;
    max-height: 550px;
}

.gradient::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg,transparent 25%,#000);
}

.banner-container {
    position: relative;
    width: 100%;
}

.banner-container h1 {
    position: absolute;
    font-size: 64px;
    color: $white;
    font-weight: $font-weight--medium;
    line-height: 80px;
    // left: 360px;
}

.netmatters-banner-h1 {
    top: 50px;
}

.support-banner-h1,
.design-banner-h1,
.marketing-banner-h1,
.telecoms-banner-h1,
.cyber-banner-h1,
.bespoke-banner-h1 {
    top: 70px;
}


.banner-container p {
    position: absolute;
    font-size: 26px;
    color: $white;
    font-weight: $font-weight--medium;
    line-height: 40px;
    // left: 360px;
}

.bespoke-banner-p,
.support-banner-p,
.marketing-banner-p,
.telecoms-banner-p,
.design-banner-p,
.cyber-banner-p {
    top: 180px;
}

.netmatters-banner-p {
    top: 235px;
}

.banner-button {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #926fb1;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 375px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#926fb1, 10%)
    }
}

.banner-button2 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #67809f;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#67809f, 10%)
    }
}

.banner-button3 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #4183d7;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#4183d7, 10%)
    }
}

.banner-button4 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #2ecc71;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#2ecc71, 10%)
    }
}

.banner-button5 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #d64541;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#d64541, 10%)
    }
}

.banner-button6 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #926fb1;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#926fb1, 10%)
    }
}

.banner-button7 {
    position: absolute;
    width: auto;
    height: auto;
    color: $white;
    font-size: 20px;
    background-color: #f62459;
    border: 0;
    border-radius: 3px;
    padding: 20px;
    top: 325px;
    left: 360px;
    &:hover {
        cursor: pointer;
        background: darken(#f62459, 10%)
    }
}

.banner-button i,
.banner-button2 i,
.banner-button3 i,
.banner-button4 i,
.banner-button5 i,
.banner-button6 i,
.banner-button7 i {
    margin-left: 15px;
}

@media screen and (max-width: $brkpoint-xxlg) {
    .gradient img {
        width: 1200px;
        height: 550px;
        object-fit: cover;
    }
}

@media screen and (max-width: $brkpoint-xlg) {
    .gradient img {
        width: 992px;
        height: 550px;
        object-fit: cover;
    }
}

@media screen and (max-width: $brkpoint-lg) {
    .gradient img {
        width: 768px;
        height: 550px;
        object-fit: cover;
    }
}

@media screen and (max-width: $brkpoint-md) {
    .gradient img {
        width: 576px;
        height: 550px;
        object-fit: cover;
    }
}
