// BLOG/NEWS

a {
    text-decoration: none;
    color: $black;
}


#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}


.blog-heading h3 {
    font-size: 2.4rem;
    color: $black;
    font-weight: $font-weight--bold;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 370px;
    background-color: $white;
    border: 1px solid #CCC;
    border-radius: 0 0 3px 3px;
    margin: 20px;
}

.blog-box2 {
    width: 370px;
    background-color: $white;
    border: 1px solid #CCC;
    border-radius: 0 0 3px 3px;
    margin: 20px;
}

.blog-box3 {
    width: 370px;
    background-color: $white;
    border: 1px solid #CCC;
    border-radius: 0 0 3px 3px;
    margin: 20px;
}



.blog-img {
    width: 100%;
    height: 220px;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.blog-img a {
    position: relative;
    left: 308px;
    bottom: 210px;
    font-size: 14px;
    color: $white;
    font-weight: $font-weight--bold;
    background: #5583ac;
    line-height: 10px;
    width: 110px;
    padding: 3px 10px;
}

.blog-text {
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.blog-text span {
    color: $black;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1rem;
    font-weight: $font-weight--mediumbold;
    color: $lavender;
    line-height: 1.5rem;
    margin-top: 30px;
}

.blog-text p {
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 20px 0;
}

.blog-text a {
    color: black;
}

.logo-date {
    align-items: center;
    border-top: 1px solid #ccc;
    margin: 0px 30px 0px 30px;
}

.logo-date img {
    position: relative;
    top: 10px;
}

.logo-date span {
    color: $black;
    font-weight: $font-weight--medium;
    font-size: 14px;
    margin-left: 25px;
    position: relative;
    bottom: 20px;
}

.logo-date p {
    color: #8a8a8a;
    font-size: 14px;
    position: relative;
    bottom: 20px;
    left: 81px;
    margin: 0;
}

.readmore-btn {
    background:#5583ac;
    font-size: 17px;
    line-height: 35px;
    width: 125px;
    padding:6px 10px;
    border-radius:3px;
    text-align: center;
}

.readmore-btn a {
    color: $white;
    font-weight: $font-weight--light;
    text-transform: uppercase;
}

.latest-news-container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.latest-news-container a {
    margin-left: 50px;
    color: $black;
    &:hover {
        text-decoration: underline;
    }
}

.latest-news h2 {
    margin-bottom: 0px;
}

.blog-shadow {
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
}

.viewall3 {
    display: none;
    font-size: 26px;
    margin: 32px 0px;
    text-decoration: none;
    color: black;
    font-weight: $font-weight--mediumbold;
    text-align: center;
}

@media screen and (max-width: $brkpoint-lg) {
    .viewall3 {
        display: block;
    }
    .view-all {
        display: none;
    }
    .view-all2 {
        display: none;
    }
}

@media screen and (max-width: $brkpoint-xxlg) {
    .blog-box3 {
        display: none;
    }
}