// GLOBAL CONFIG

// FONTS

$font-url--google          : 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;500';

$font-family--primary      : 'Poppins', sans-serif;
$font-family--secondary    : 'Roboto', sans-serif;

// FONT WEIGHT

$font-weight--thin         : 300;
$font-weight--light        : 400;
$font-weight--medium       : 500;
$font-weight--mediumbold   : 600;
$font-weight--bold         : 700;

$font-weightrob-thin       : 100;
$font-weightrob-medium     : 300;
$font-weightrob-bold       : 500;

// BASE COLOURS

$white     : #fff;
$black     : #070707;
$grey      : #ddd;

$dark-blue   : #67809f;
$cloud-burst : #333645;
$emerald     : #2ecc71;
$blue-ribbon : #4183d7;
$thunderbird : #d64541;
$tuscany     : #f62459;
$lavender    : #926fb1;
$disco       : #f62459;
$contact-form-fill: #E6E7E9;
$news-art-alt1: #576C88;
$news-art-alt2: #C42E2A;
$news-art-alt3: #2A6EC6;
$modal-border: #e5e5e5;
$contact-focus: #C2DCE6;
$fill-market: #2ecc71;

// COLOUR USAGE

$color-primary   : $cloud-burst;
$color-shadow    : rgba($black, .2);


// TEXT

$base__font-size : 16px;
$base__line      : 24px;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  576px;
$brkpoint-lg:  768px;
$brkpoint-xlg: 992px;
$brkpoint-xxlg: 1200px;
