footer {
	color: $white;
	background-color: $color-primary;
	width: 100vw;
	display: block;
}

.footer-container-row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	line-height: 23px;
	width: 100%;
}

.service {
	display: flex;
	flex-direction: column;
}

.services {
	font-size: 13px;
	text-align: left;
	align-content: left;

}

.services h4 {
	font-size: 16px;
	font-weight: $font-weight--light;
	text-transform: uppercase;
	margin-bottom: 26px;
}

.services ul {
	list-style: none;
	padding-left: 0;
}


.offices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	align-content: center;
	font-size: 13px;
	text-align: left;
}

.offices h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: $font-weight--light;
	margin-bottom: 26px;
}

.offices ul {
	list-style: none;
	padding-left: 0;
}
