footer {
	color: $white;
	background-color: $color-primary;
	width: 100vw;
	display: block;
}

.footer-container-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 23px;
	width: 100%;
}

.service-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	align-content: center;
}

.services {
	font-size: 13px;
	text-align: left;
	align-content: left;

}

.services h4 {
	font-size: 16px;
	font-weight: $font-weight--light;
	margin-bottom: 26px;
}

.services ul {
	list-style: none;
	padding-left: 0;
}

.office-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	width: 225px;
	align-content: center;
}

.offices {
	font-size: 13px;
	text-align: left;
	align-content: left;
}

.offices h4 {
	font-size: 16px;
	font-weight: $font-weight--light;
	margin-bottom: 26px;
}

.offices ul {
	list-style: none;
	padding-left: 0;
}
