footer {
	color: $white;
	background-color: $color-primary;
	width: 100vw;
	display: block;
}

.footer-container-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 23px;
}

.service-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
	width: 225px;
	align-content: center;
}

.services {
	text-align: left;
	align-content: center;
}

.services ul {
	list-style: none;
}