.logo {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

.width3 img {
    max-height: 100%;
    max-width: 100%;
    // width: 370px;
    // height: 64px;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support {
    border: 1px solid $blue-ribbon;
    border-radius: 3px;
    height: 56px;
    width: 146px;
    margin-left: 50px;
    line-height: 46px;
    font-size: em(18px);
    background-color: $blue-ribbon;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background: darken($blue-ribbon, 10%)
    }
}


.contact {
    border-radius: 3px;
    border: 0;
    height: 56px;
    width: 146px;
    line-height: 46px;
    font-size: em(18px);
    background-color: #999aa2;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background: darken(#999aa2, 10%)
    }
}

.search-bar-style {
    display: flex;
}

.search-bar-style input {
    width: 240px;
    height: 56px;
    padding: 10px 10px;
    border: 1px solid $grey;
    margin-left: 3px;
    float: left;
}

.search-bar-style input:focus {
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
}

.search-bar-style button {
    height: 56px;
    width: 60px;
    border: 0;
    border-radius: 0px 3px 3px 0px;
    background-color: #999aa2;
    color: $white;
    margin: 0;
    &:hover {
        cursor: pointer;
        background: darken(#999aa2, 10%)
    }
}

.search-bar-style button i {
    font-size: 20px;
}

::placeholder {
    font-style: $font-family--primary;
}

.hamburger {
    display: block;
    position: relative;
    height: 56px;
    margin-left: 3px;
    padding: 5px 15px;
    cursor: pointer;
    appearance: none;
    border-radius: 3px;
    background-color: $cloud-burst;
    outline: none;
    border: none;
    z-index: 4;
    &:hover {
        background: darken($cloud-burst, 10%)
    }
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: $white;
    margin: 6px 0px;
    transition: 0.2s;
    z-index: 3;
}

.fa-phone {
    display: none;
    font-size: 24px;
}

#cookie-modal {
    position: fixed;
    display: block;
    z-index: 101;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
        &.hidden {
            display: none;
        }
}

#consent-popup {
    position: relative;
    display: block;
    top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    width: 600px;
    padding: 15px 20px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

@media screen and (max-width: $brkpoint-lg) {
    #consent-popup {
        width: 100% !important;
        top: 20%;
    }
    .modal-buttons {
        flex-direction: column;
    }
    .cookie-change {
        width: 100% !important;
    }
    .accept-cookies {
        width: 100% !important;
    }
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 20px;
}

.cookie-change {
    background-color: #999aa2;
    color: $white;
    height: auto;
    width: 255px;
    line-height: 35px;
    padding: 5px 15px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
        &:hover {
            background: darken(#999aa2, 10%)
        }
}

.accept-cookies {
    background-color: #926fb1;
    color: $white;
    height: auto;
    width: 255px;
    line-height: 35px;
    padding: 5px 15px;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
        &:hover {
            background: darken(#926fb1, 10%)
        }
}

.cookie-text {
    line-height: 30px;
    color: #666;
    padding-top: 20px;
}

.cookie-text a {
    text-decoration: none;
    color: #333645;
        &:hover {
            text-decoration: underline;
        }
}

.cookie-header {
    color: #333645;
    font-size: 26px;
    font-weight: $font-weight--light;
    margin: 0;
}

.search-bar-logo {
    display: none;
    width: 100%;
    padding: 0px 15px;
    padding-bottom: 20px;
}

.search-bar-logo-style {
    position: relative;
    width: 100%;
}

.search-bar-logo-input {
    width: 100%;
    height: 47px;
    font-size: 14px;
    line-height: 1.4;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    padding: 5px 40px 5px 15px;
}

.search-glass {
    position: absolute;
    background: none;
    border: none;
    line-height: 47px;
    font-size: 20px;
    color: $cloud-burst;
    right: 5px;
    bottom: 0;
}

.phone-hidden {
    display: none;
    font-size: 32px;
    margin-left: 50px;
}

.inline {
    display: inline;
}