.logo {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.width3 img {
    max-width: 100%;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support {
    border: 1px solid $blue-ribbon;
    border-radius: 3px;
    height: 56px;
    margin-left: 50px;
    line-height: 46px;
    font-size: em(18px);
    background-color: $blue-ribbon;
}

.support a {
    padding: 10px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
}

.contact {
    border-radius: 3px;
    border: 0;
    height: 56px;
    line-height: 46px;
    font-size: em(18px);
    background-color: #999aa2;
}

.contact a {
    padding: 6px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
}

.search-bar-style {
    display: flex;
}

.search-bar-style input {
    width: 240px;
    height: 56px;
    padding: 10px 10px;
    border: 1px solid $grey;
    margin-left: 3px;
    float: left;
}

.search-bar-style button {
    height: 56px;
    width: 60px;
    border: 0;
    border-radius: 0px 3px 3px 0px;
    background-color: #999aa2;
    color: $white;
    margin: 0;
}

.search-bar-style button i {
    font-size: 20px;
}

::placeholder {
    font-style: $font-family--primary;
}

.hamburger {
    display: block;
    position: relative;
    height: 56px;
    margin-left: 3px;
    padding: 5px 15px;
    cursor: pointer;
    appearance: none;
    border-radius: 3px;
    background-color: $cloud-burst;
    outline: none;
    border: none;
    z-index: 4;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: $white;
    margin: 6px 0px;
    transition: 0.2s;
    z-index: 3;
}

.fa-phone {
    display: none;
    font-size: 24px;
}