// MEDIA QUERIES

// FOOTER QUERIES

@media screen and (min-width: $brkpoint-md) {
    .footer-container-row {
        flex-direction: column;
        align-content: center;
    }
    .service {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70vw;
        justify-content: space-around;
        align-items: flex-start;
    }
    .offices {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70vw;
        align-content: flex-start;
        justify-content: space-around;
    }
  }

  @media screen and (min-width: $brkpoint-xxlg) {
    .footer-container-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        width: 100%;
    }
    .service {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }
    .offices {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        width: 100vw;
    }
    
  }