// MEDIA QUERIES

// FOOTER QUERIES

@media screen and (min-width: $brkpoint-md) {
    .footer-container-row {
        flex-direction: column;
        align-content: center;
    }
    .service {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70vw;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .offices {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 70vw;
        align-content: flex-start;
        justify-content: space-around;
    }
  }

  @media screen and (min-width: $brkpoint-xxlg) {
    .footer-container-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        width: 100%;
    }
    .service {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }
    .offices {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        width: 100vw;
    }
    
  }

  // NEWSLETTER QUERIES

  @media screen and (min-width: $brkpoint-xlg) {
    .form-item-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-evenly;
    }
    .form-input {
        width: 420px;
    }
    .newsletter-h2 {
        margin-left: 50px;
    }

  }

@media screen and (min-width: $brkpoint-xxlg) {  
    .form-item-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
    }
    .form-input {
        width: 540px;
    }
    .newsletter-h2 {
        margin-left: 40px;
    }
}
   
// CLIENTS

@media screen and (max-width: $brkpoint-xlg) {
    .clients {
        display: none;
    }
}

// WELCOME NETMATTERS MEDIA QUERIES

@media screen and (max-width: $brkpoint-xlg) {
    .welcome-netmatters {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: $brkpoint-xxlg) {
    .welcome-trust-button {
        margin-left: 0px;
    }
}
    

// LOGO QUERIES

@media screen and (max-width: $brkpoint-xxlg) {
    .search-bar-style input {
        display: none;
    }
    .search-bar-style button {
        margin-left: 20px;
    }
}

@media screen and (max-width: $brkpoint-xlg) {
    .nav-bar {
        display: none;
    }
    .support {
        display: none;
    }
    .contact {
        display: none;
    }
    .search-bar-style input {
        display: inline;
        width: 174px;
    }
    .search-bar-style button {
        margin-left: 0px;
    }
    .width img {
        margin-right: 30px;
        height: 60px;
        width: 345px;
    }
    .fa-phone {
        display: none;
    }
}

@media screen and (max-width: $brkpoint-lg) {
    .search-bar-style {
        display: none;
    }
    .fa-phone {
        display: inline;
    }
    .logo__container {
        justify-content: space-around;
    }
    .hamburger {
        margin-left: 0;
    }
}

@media screen and (max-width: $brkpoint-md) {
    .hamburger {
        margin-left: 20px;
    }
    .width img {
        margin-right: 0px;
    }
}