// NAVBAR

.nav-bar {
    width: 100%;
    background-color: $cloud-burst;
    height: 80px;
    padding: 10px 0;
}

.nav-bar ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
    position: relative;
}

.nav-bar ul li {
    width: 170px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px 0;
    &:hover {
        background-color: #67809f;
    }
}

.drop-menu {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #526781;
    display: none;
}

.nav-bar ul li:hover .drop-menu {
    display: block;
}

.drop-menu-inner {
    width: 33.33%;
    float: left;
    margin-right: 0;
}

.drop-menu-inner p {
    padding: 10px 0;
    color: $white;
}

.nav-bar ul li a {
    color: $white;
    text-decoration: none;
}

.drop-menu2 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #286abd;
    display: none;
}

.nav-bar ul li:hover .drop-menu2 {
    display: block;
}

.drop-menu3 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #25a25a;
    display: none;
}

.nav-bar ul li:hover .drop-menu3 {
    display: block;
}

.drop-menu4 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #bc2c28;
    display: none;
}

.nav-bar ul li:hover .drop-menu4 {
    display: block;
}

.drop-menu5 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #79539a;
    display: none;
}

.nav-bar ul li:hover .drop-menu5 {
    display: block;
}

.drop-menu6 {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 1020px;
    height: 300px;
    padding: 40px;
    background-color: #de093f;
    display: none;
}

.nav-bar ul li:hover .drop-menu6 {
    display: block;
}


// .main-nav {
//     background-color: $cloud-burst;
// }


// .nav-bar {
//     width: 100%;
//     height: 75px;
// }

// .nav-bar-ul {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     margin: 0 auto;
//     list-style: none;
//     text-transform: uppercase;
//     position: relative;
// }

// .nav-bar-li {
//     width: 150px;
//     float: left;
//     text-align: center;
//     padding: 15px;
//     color: $white;
//     cursor: pointer;
//     &:hover {
//         background-color: #67809f;
//     }
// }

// .nav-bar ul li a {
//     color: $white;
//     text-decoration: none;
// }


// .bespoke-menu {
//     display: none;
//     position: fixed;
//     width: 100%;
//     top: 190px;
//     left: 0;
//     right: 0;
//     background-color: #526781;
// }

// .nav-bar-ul:hover .bespoke-menu {
//     display: block;
// }


// .inner-bespoke-menu {
//     display: grid;
//     width: 100%;
//     grid-template-columns:  1fr 1fr 1fr;
//     justify-items: start;
//     align-items: start;
// }

// .inner-bespoke-menu ul {
//     list-style: none;
//     color: $white;
//     font-size: em(19px);
//     font-weight: $font-weight--thin;
//     padding-left: 0;
//     padding-right: 15px;
// }

// .inner-bespoke-menu h2 {
//     color: $white;
//     font-size: 32px;
//     font-weight: $font-weight--medium;
//     margin-bottom: 0px;
//     grid-column: 1 / 4;
// }

// .inner-bespoke-menu ul li {
//     padding: 10px 15px 15px 0px;
// }

// .inner-bespoke-menu ul li a {
//     color: $white;
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }

// // IT MENU
// .bespoke-menu {
//     display: none;
//     position: fixed;
//     width: 100%;
//     top: 190px;
//     left: 0;
//     right: 0;
//     background-color: #526781;
// }

// .nav-bar-ul:hover .it-menu {
//     display: block;
// }

// .inner-it-menu {
//     display: grid;
//     width: 100%;
//     grid-template-columns:  1fr 1fr 1fr;
//     justify-items: start;
//     align-items: start;
// }

// .inner-it-menu ul {
//     list-style: none;
//     color: $white;
//     font-size: em(19px);
//     font-weight: $font-weight--thin;
//     padding-left: 0;
//     padding-right: 15px;
// }

// .inner-it-menu h2 {
//     color: $white;
//     font-size: 32px;
//     font-weight: $font-weight--medium;
//     margin-bottom: 0px;
//     grid-column: 1 / 4;
// }

// .inner-it-menu ul li {
//     padding: 10px 15px 15px 0px;
// }

// .inner-it-menu ul li a {
//     color: $white;
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }


