// NEWSLETTER

.form-item-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.form-input {
	width: 100%;
	height: 47px;
	padding: 5px 15px;
	border: 1px solid #e5e5e5;
	border-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	&:focus {
		border-color: #5bc0de;
		outline: 0;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0,  0.1), 0 0 8px rgba(91, 192, 222, 0.6);
	}
}



// .newsletter {
// 	font-size: 32px;
// 	font-weight: $font-weight--thin;
// 	margin-left: 10px;
// 	margin-bottom: -5px;
// }

// .form {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
// 	background: $grey;
// 	padding: 5px;
// 	width: 100%;
// 	font-weight: $font-weightrob-bold;
// 	color: $cloud-burst;
// }

// .form-item {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-content: center;
// 	flex-direction: column;
// 	width: 85vw;
// 	border-color: $grey;
// }


// .form-button {
// 	text-transform: uppercase;
// 	letter-spacing: 0.4px;
// }

// .form-input {
// 	text-transform: uppercase;
// 	letter-spacing: 0.4px;
// 	padding: 1em;
// 	width: 80vw;
// }

// .form-input:focus {
// 	border-width: 2px;
// 	border-color: rgb(120, 183, 255);
// }

// .form-item:first-of-type {
// 	position: relative;
// }

// .form-item:first-of-type::after {
// 	content: '';
// 	position: absolute;
// 	right: 0;
// 	left: 0;
// 	bottom: 0;
// 	height: 1px;
// 	background: rgba(0, 0, 0, .1);
// }

// label {
// 	display: inline-block;
// 	margin-top: 10px;
// 	margin-bottom: -20px;
// }

// .checkbox {
// 	display: flex;
// 	align-items: center;
// 	cursor: pointer;
// }

// .checkbox span {
// 	display: flex;
// 	margin-right: 45px;
// }

// .checkbox__input {
// 	display: none;
// }

// .checkbox__box {
// 	width: 24px;
// 	height: 24px;
// 	border: 3px solid $cloud-burst;
// 	border-radius: 4px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	margin-right: 20px;
// 	margin-left: 20px;
// 	flex-shrink: 0;
// }

// .checkbox__box::after {
// 	content: "\2713";
// 	color: $grey;
// }

// .checkbox__input:checked + .checkbox__box {
// 	background: $cloud-burst;
// 	border-color: $cloud-burst;
// }

// .form-button {
// 	display: inline-flex;
// 	justify-content: space-around;
// 	height: 40px;
// 	width: 110px;
// 	margin: 50px 0px 50px 20px;
// 	padding-top: 12px;
// 	background: $cloud-burst;
// 	border: none;
// 	outline: none;
// 	border-radius: 3px;
// 	font-size: 16px;
// 	color: $white;
// 	text-transform: uppercase;
// 	font-weight: $font-weight--medium;
// 	cursor: pointer;
// 	&:hover {
// 		background: darken($cloud-burst, 10%);
// 	}
// }

// .form-button__text {
// 	height: 100%;
// }

// .form-item-container {
// 	display: flex;
// 	flex-direction: column;
// }