// WELCOME

.welcome-netmatters {
    display: flex;
    background-color: $cloud-burst;
    padding-top: 30px;
    padding-bottom: 30px;
}

.welcome-content-left {
    display: flex;
    flex-wrap: wrap;
    color: $white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.welcome-content-left p {
    margin: 0;
    line-height: 1.875rem;
}

.welcome-content-left a {
    color: $white;
    text-decoration: none;
}

.welcome-content-left h2 {
    font-size: 36px;
    font-weight: $font-weight--mediumbold;
}

.welcome-read-button, .welcome-read-button2 {
    background:#272936;
    line-height: 35px;
    width: auto;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: darken(#272936, 10%)
    }
}

.welcome-read-button2 {
    margin-left: 15px;
}

.h2-clients {
    color: $white;
    font-size: 36px;
}

.welcome-content-right {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: $white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.welcome-content-right a {
    color: $white;
    text-decoration: none;
}

.welcome-content-right p {
    font-style: italic;
    margin: 0;
    line-height: 1.875rem;
    font-size: 1.3rem;
    font-weight: $font-weight--mediumbold;
}

.welcome-content-right span {
    font-weight: $font-weight--bold;
    color: #a3a8ac;
    font-size: 1.1rem;
    font-weight: $font-weight--mediumbold;
}

.welcome-content-right h2 {
    font-size: 36px;
    height: auto;
    width: auto;
    margin-bottom: 0;
    font-weight: $font-weight--mediumbold;
}

.welcome-left-bold {
    font-weight: $font-weight--bold;
}

.welcome-google-button {
    display: inline-block;
    background:#4387f6;
    line-height: 35px;
    width: 241px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 55px 8px 0px 0px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: darken(#4387f6, 10%)
    }
}

.welcome-trust-button {
    display: inline-block;
    background: #00b67b;
    line-height: 35px;
    width: 270px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 55px 0px 0px 8px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        background-color: darken(#00b67b, 10%)
    }
}

.gold-star {
    color: orange;
    font-size: 45px;
    display: inline-table;
}

@media screen and (max-width: $brkpoint-xlg) {
    .welcome-content-left {
        width: 100%;
    }
    .welcome-content-right {
        display: block;
        width: 100%;
    }
    .gold-star {
        margin: 20px 0px;
    }
}


@media screen and (max-width: $brkpoint-md) {
    .welcome-trust-button {
        margin: 15px 0 0 0;
    }
    .welcome-read-button, .welcome-read-button2 {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .welcome-read-button2 {
        margin-top: 15px;
    }
}