// --------------------------------------------------------------------------
// Width --------------------------------------------------------------------
// --------------------------------------------------------------------------

.width {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1200px;
        @include auto-mg-hor;
    }
}

.width2 {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1400px;
        @include auto-mg-hor;
    }
}

.width3 {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1200px;
        @include auto-mg-hor;
    }
}

.width4 {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1100px;
        @include auto-mg-hor;
    }
}

.width5 {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1200px;
        @include auto-mg-hor;
    }
}

// .sticky { 
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 100;
//     width: 100%;
//     background: #fff;
//     transition: all 300ms ease-in-out;
// }