// --------------------------------------------------------------------------
// Width --------------------------------------------------------------------
// --------------------------------------------------------------------------

.width {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1200px;
        @include auto-mg-hor;
    }
}

.width2 {
    margin: 0 25px;
    @include mq(large) {
        max-width: 750px;
        @include auto-mg-hor;
    }
    @include mq(x-large) {
        max-width: 970px;
        @include auto-mg-hor;
    }
    @include mq(xx-large) {
        max-width: 1200px;
        @include auto-mg-hor;
    }
}