@charset "UTF-8";
.width {
  margin: 0 25px;
}
@media screen and (min-width: 768px) {
  .width {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .width {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .width {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.width2 {
  margin: 0 25px;
}
@media screen and (min-width: 768px) {
  .width2 {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .width2 {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .width2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.4px;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

Header {
  font-weight: 400;
  font-size: 2.625em;
  line-height: 1.0952380952;
  margin-bottom: 1.6666666667em;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #333645;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.75em 1.75em;
}

.sub-menu {
  position: absolute;
  background: #526781;
  width: 100vw;
  align-items: center;
  display: none;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  z-index: 1;
}

nav a:hover .sub-menu {
  display: block;
}

.sub-menu h2 {
  text-align: left;
  margin: 15px 0px 10px 0px;
  width: 1200px;
  font-size: 2rem;
}

.sub-menu ul {
  text-align: left;
  -moz-columns: 3;
       columns: 3;
  margin-top: 20px;
  line-height: 20px;
  max-width: 1200px;
}
.sub-menu ul a {
  margin-left: 10px;
}
.sub-menu ul a:hover {
  text-decoration: underline;
}

.sub-menu li {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  font-size: 1.375em;
}
.sub-menu li i {
  margin-top: auto;
  margin-bottom: auto;
}

.banner-container {
  width: 100%;
  height: 60vh;
}

.banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 70%;
  background: linear-gradient(270deg, transparent 25%, #000), url("../img/banner.jpg");
}

.banner-text {
  padding: 100px;
  margin-left: 50px;
  color: #fff;
}

.banner-text h1 {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.banner-text p {
  font-size: 20px;
  text-align: left;
}

.banner-btn {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: #fff;
  background-color: #67809f;
  border: 1px;
  border-radius: 3px;
  padding: 5px 20px;
  margin: 31px 0px 18px 0px;
}

section {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.service-cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333645;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #67809f;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-1:hover {
  background-color: #67809f;
  color: #fff;
}

.service-card-1:hover > .service-icon-1 {
  background-color: #fff;
  color: #67809f;
}

.service-card-1:hover > a {
  background: #fff;
  color: #67809f;
}

.service-card-1:hover > .card-title {
  color: #fff;
}

.service-card-1:hover > .card-desc {
  color: #fff;
}

.card-title {
  color: #333645;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.card-desc {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 10px;
  color: #333645;
  transition: all 0.5s ease-in-out;
}

.service-card-1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #67809f;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #4183d7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #4183d7;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-2:hover {
  background-color: #4183d7;
  color: #fff;
}

.service-card-2:hover > .service-icon-2 {
  background-color: #fff;
  color: #4183d7;
}

.service-card-2:hover > a {
  background: #fff;
  color: #4183d7;
}

.service-card-2:hover > .card-title {
  color: #fff;
}

.service-card-2:hover > .card-desc {
  color: #fff;
}

.service-card-2 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #4183d7;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #4183d7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #2ecc71;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-3:hover {
  background-color: #2ecc71;
  color: #fff;
}

.service-card-3:hover > .service-icon-3 {
  background-color: #fff;
  color: #2ecc71;
}

.service-card-3:hover > a {
  background: #fff;
  color: #2ecc71;
}

.service-card-3:hover > .card-title {
  color: #fff;
}

.service-card-3:hover > .card-desc {
  color: #fff;
}

.service-card-3 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #2ecc71;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #d64541;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #d64541;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-4:hover {
  background-color: #d64541;
  color: #fff;
}

.service-card-4:hover > .service-icon-4 {
  background-color: #fff;
  color: #d64541;
}

.service-card-4:hover > a {
  background: #fff;
  color: #d64541;
}

.service-card-4:hover > .card-title {
  color: #fff;
}

.service-card-4:hover > .card-desc {
  color: #fff;
}

.service-card-4 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #d64541;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #f62459;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #f62459;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-5:hover {
  background-color: #f62459;
  color: #fff;
}

.service-card-5:hover > .service-icon-5 {
  background-color: #fff;
  color: #f62459;
}

.service-card-5:hover > a {
  background: #fff;
  color: #f62459;
}

.service-card-5:hover > .card-title {
  color: #fff;
}

.service-card-5:hover > .card-desc {
  color: #fff;
}

.service-card-5 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #f62459;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #926fb1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #926fb1;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-6:hover {
  background-color: #926fb1;
  color: #fff;
}

.service-card-6:hover > .service-icon-6 {
  background-color: #fff;
  color: #926fb1;
}

.service-card-6:hover > a {
  background: #fff;
  color: #926fb1;
}

.service-card-6:hover > .card-title {
  color: #fff;
}

.service-card-6:hover > .card-desc {
  color: #fff;
}

.service-card-6 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #926fb1;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.service-card-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #f62459;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease-in-out;
}

.service-icon-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  font-size: 30px;
  background-color: #f62459;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.service-card-7:hover {
  background-color: #f62459;
  color: #fff;
}

.service-card-7:hover > .service-icon-7 {
  background-color: #fff;
  color: #f62459;
}

.service-card-7:hover > a {
  background: #fff;
  color: #f62459;
}

.service-card-7:hover > .card-title {
  color: #fff;
}

.service-card-7:hover > .card-desc {
  color: #fff;
}

.service-card-7 a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #f62459;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

.awards {
  display: inline-block;
  width: 100%;
  padding: 50px 0px;
}

.awards img {
  padding-left: 25px;
  padding-right: 25px;
  filter: saturate(0);
}
.awards img:hover {
  filter: saturate(100%);
}

.welcome-netmatters {
  background-color: #333645;
  padding: 20px 50px 50px 50px;
}

.welcome-content-left {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  text-align: left;
}

.welcome-content-left a {
  color: #fff;
  text-decoration: none;
}

.welcome-content-left h2 {
  font-size: 36px;
}

.welcome-read-button {
  background: #272936;
  line-height: 35px;
  width: 170px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.welcome-read-button:hover {
  background-color: #121318;
}

.h2-clients {
  color: #fff;
  font-size: 36px;
}

.welcome-content-right {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  text-align: left;
}

.welcome-content-right a {
  color: #fff;
  text-decoration: none;
}

.welcome-content-right p {
  font-weight: 700;
  font-style: italic;
}

.welcome-content-right span {
  font-weight: 700;
  color: #a3a8ac;
}

.welcome-content-right h2 {
  font-size: 36px;
  height: auto;
  width: auto;
}

.welcome-left-bold {
  font-weight: 700;
}

.welcome-google-button {
  display: inline-block;
  background: #4387f6;
  line-height: 35px;
  width: 220px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 40px 8px 0px 0px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.welcome-google-button:hover {
  background-color: #1268f4;
}

.welcome-trust-button {
  display: inline-block;
  background: #00b67b;
  line-height: 35px;
  width: 270px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 40px 0px 0px 8px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.welcome-trust-button:hover {
  background-color: #008359;
}

.gold-star {
  color: #ffa500;
  font-size: 50px;
}

a {
  text-decoration: none;
}

#blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}

.blog-heading h3 {
  font-size: 2.4rem;
  color: #070707;
  font-weight: 700;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 370px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 20px;
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.blog-img a {
  position: relative;
  left: 311px;
  bottom: 210px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  background: #5583ac;
  line-height: 10px;
  width: 110px;
  padding: 3px 10px;
}

.blog-text {
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: #070707;
  font-size: 0.9rem;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #926fb1;
}

.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 0px 20px 0;
}

.blog-text a {
  color: black;
}

.logo-date {
  align-items: center;
  padding: 0px 30px 0px 30px;
}

.logo-date img {
  position: relative;
  top: 10px;
}

.logo-date span {
  color: #070707;
  font-weight: 700;
  font-size: 14px;
  margin-left: 30px;
  position: relative;
  bottom: 20px;
}

.logo-date p {
  color: #8a8a8a;
  font-size: 14px;
  position: relative;
  bottom: 35px;
  left: 81px;
}

.readmore-btn {
  background: #5583ac;
  line-height: 35px;
  width: 110px;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
}

.readmore-btn a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.latest-news-container {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.latest-news-container a {
  color: #070707;
}
.latest-news-container a:hover {
  text-decoration: underline;
}

.latest-news h2 {
  margin-bottom: 0px;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
}

.clients__bussey,
.clients__crane,
.clients__beat,
.clients__northern {
  filter: grayscale(100%);
  position: relative;
}
.clients__bussey:hover,
.clients__crane:hover,
.clients__beat:hover,
.clients__northern:hover {
  filter: grayscale(0%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  width: 300px;
  bottom: 120%;
  left: 0%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  margin-left: 0px;
  border-width: 20px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.newsletter-background {
  background-color: #ddd;
}

.newsletter-h2 {
  margin-left: 15px;
  padding-top: 50px;
  font-weight: 500;
}

.form {
  padding: 10px 0px 50px 0px;
}

.form-item-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.form-input {
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  margin: 10px 0px;
  border: 1px solid #e5e5e5;
  border-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-input:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(91, 192, 222, 0.6);
}

.checkbox__box {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border: 3px solid #333645;
  border-radius: 4px;
  margin-right: 20px;
  margin-left: 15px;
}

.checkbox-text {
  float: right;
  overflow: hidden;
}

.checkbox__input {
  display: none;
}

.checkbox__box::after {
  content: "✓";
  color: #ddd;
}

.checkbox__input:checked + .checkbox__box {
  background: #333645;
  border-color: #333645;
}

.form-button {
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.form-button {
  display: inline-flex;
  justify-content: space-around;
  height: 40px;
  width: 110px;
  margin: 50px 0px 50px 20px;
  padding-top: 12px;
  background: #333645;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.form-button:hover {
  background: #1d1f28;
}

.form-button__text {
  height: 100%;
}

footer {
  color: #fff;
  background-color: #333645;
  width: 100vw;
  display: block;
}

.footer-container-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  line-height: 23px;
  width: 100%;
}

.service {
  display: flex;
  flex-direction: column;
}

.services {
  font-size: 13px;
  text-align: left;
  align-content: left;
}

.services h4 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.services ul {
  list-style: none;
  padding-left: 0;
}

.offices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  align-content: center;
  font-size: 13px;
  text-align: left;
}

.offices h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 26px;
}

.offices ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 576px) {
  .footer-container-row {
    flex-direction: column;
    align-content: center;
  }
  .service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .offices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70vw;
    align-content: flex-start;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    width: 100%;
  }
  .service {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  .offices {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 100vw;
  }
}
@media screen and (min-width: 992px) {
  .form-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
  }
  .form-input {
    width: 420px;
  }
  .newsletter-h2 {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .form-item-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
  }
  .form-input {
    width: 540px;
  }
  .newsletter-h2 {
    margin-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */